# .coveragerc to control coverage.py

[run]
omit =
        *__init__*
        */usr/local/lib*
        *Test*
        *eggs*
        *mock_*
        *test_*

[report]
exclude_lines =
    raise NotImplementedError