.DS_Store
*~
*.save
*.swp
*.pyc
bin
eggs
parts
src
doc/html
.installed.cfg
.mr.developer.cfg
*.egg-info
deps
develop-eggs
dist
res
.idea
.cache
*__pycache__*
.coverage
htmlcov
.scannerwork
result
resources_bob_paper_icb2019_gradgpad
resources_bob_paper_icb2019_gradgpad.zip
result
tmp
.nojekyll

